@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 36px;
    letter-spacing: 1px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    display: flex;
    width: 180px;
    height: 100px;
    color: white;
    cursor: pointer;
    background-color: #11468f;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input:checked + label {
    background-color: #5d8bf4;
}

input {
    display: none;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #fff;
    color: white;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#contenedor-botones {
    display: flex;
    column-gap: 10px;
}

.boton-de-ataque {
    background-color: #11468f;
    padding: 10px;
    border-radius: 50%;
    border-color: transparent;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
}

#mostrar-mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: #eeeeee;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
}

#boton-reiniciar {
    border: none;
    color: #11468f;
}

.tablero-juego {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    column-gap: 20px;
    text-align: center;
    color: white;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 28px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 575px) {
    .tarjetas {
        flex-direction: column;
    }
}

/* @media screen and (max-width: 360px) {
    .boton-de-ataque {
        width: 90px;
        font-size: 12px;
    }
} */
